/* 
 *  main.css
 */

* {
/*  margin: 0px;
  padding: 0px;*/
}
body{
  margin-left: 15%;
  margin-right: 15%;
}
  
#header {
  border: 1px solid green;
}
#header *{
  font-size: small;
  margin: 0.2em;
}
#header-title{
  float:left;
}
#header-user{
  float:right;
}
