<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    Nice to meet you!<br>
    your identity url is: <%=h session[:identity_url] %>
  </p>
  <label for="name">Login Name:</label>
  <%= f.text_field :name %>
  <%= f.submit 'Sign up', :disable_with => 'Signing up...' %>
<% end %>

